@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
.imagenbanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1, h2, h3{
    text-align: center;
}

.table-condensed tr th {
    border: 0;
    color: black;
    background-color: aqua;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e6dede;
}

.promedio-general{
    display: flex;
    flex-direction: column;
}

.Sp{
    width: 50%;
    margin: 10px;
}

.Bp{
    width: 10%;
    margin: 5px;
}


.Cp{
    width: 100%;
    margin: 5px;
}

.ingreso-calificaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.ingreso-alumno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tabla-calificaciones{                      
    margin-top: 5%;
}

.footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column; /* Para alinear los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    padding: 20px; /* Espaciado interno */
}

